{% extends "base.html" %}
{% block head %}
    <title>Accounts</title>
{% endblock %}


  {% block content %}

   <h2>Accounts</h2>

    {% if accounts %}
    {% for account in accounts %}
        {{account.account_id}}
        {{account.name}}
        {{account.lastname}}
        {{account.email}}
    {% endfor %}
    {% endif %}


 {% endblock %}