{% extends "base.html" %}
{% block head %}
    <title>Groups</title>
{% endblock %}


  {% block content %}

   <h2>Groups</h2>

    {% if groups %}
    {% for k, v in groups.items() %}
        name:{{v}} id:{{k}}
    {% endfor %}
    {% endif %}




 {% endblock %}
