{% extends "base.html" %}
{% block head %}
    <title>Paths</title>
{% endblock %}


  {% block content %}

   <h2>Paths</h2>

    {% if paths %}
    {% for path in paths %}
        <br />
        {{path.path_id}}<br />
        <strong>{{path.user_id}}</strong><br />
        {% for k, v in path.user_mod.items() %}
            <input type="checkbox" {{v}}>{{k}}
        {% endfor %}<br />
        <strong>{{path.group_id}}</strong><br />
        {% for k, v in path.group_mod.items() %}
            <input type="checkbox" {{v}}>{{k}}
        {% endfor %}<br />
        <strong>Authenticated</strong><br />
        {% for k, v in path.authenticated_mod.items() %}
            <input type="checkbox" {{v}}>{{k}}
        {% endfor %}<br />
        <strong>Anonymous</strong><br />
        {% for k, v in path.anonymous_mod.items() %}
            <input type="checkbox" {{v}}>{{k}}
        {% endfor %}
        <br />
        <hr>
    {% endfor %}
    {% endif %}


 {% endblock %}